<h1 class="text-center text-info">Bienvenidos al Sistema de Registro de Equipos </h1>
<div row>
  <div class="jumbotron col-sm-5 text-center" style="background:#D8F6CE">
    <h1>Equipos</h1>
    <p>Gestionar los equipos del sistema</p>
    <p>
      <a class="btn btn-primary btn-lg" href="/CrearEquipo" role="button">Crear Equipos</a>
      <a class="btn btn-primary btn-lg" href="/listarEquipos" role="button">Listar Equipos</a>
    </p>
  </div>
  <div class="col-sm-1">  </div>
  <div class="jumbotron col-sm-5 text-center" style="background:#D8F6CE">
    <h1>Jugadores</h1>
    <p>Gestionar los jugadores del sistema</p>
    <p>
      <a class="btn btn-primary btn-lg" href="/CrearJugador?idEquipo=undefined" role="button">Crear Jugadores</a>
      <a class="btn btn-primary btn-lg" href="/listarJugadores?idEquipo=undefined" role="button">Listar Jugadores</a>
    </p>
  </div>


</div>

