<h1 class="text-center text-info">Creación de un nuevo Jugador</h1>
<form action="/Jugador/crearJugador" method="POST">
  <div class="form-group">
    <label>Nombre del Jugador</label>
    <input type="text" class="form-control" placeholder="Ingrese el nombre del Jugador" name="nombreJugador" required>
  </div>
  <div class="form-group">
    <label>Fichado hasta</label>
    <input type="date" class="form-control" required name="fichadoHasta">
  </div>
  <div class="form-group">
    <label>Posición </label>
    <input type="text" class="form-control" placeholder="Ingrese la posición del jugador" required name="posicion">
  </div>
  <input type="hidden" name="idEquipo" value="<%=idEquipo%>">
  <button type="submit" class="btn btn-success btn-block">Crear Jugador</button>
</form>
